extends ../admin.pug

block modalScript
    script(src = "../Scripts/modal.js")
    
block modal
    div#shadow
    modal(name = `deletePost-pid-${post.pid}`)#modal
        div#error
        p.text.modal_field_label Are you sure you want to delete #{post.title}?
        button(type = "button").submit#submit Yes
        button(type = "button").cancel#cancel No
