extends ../admin.pug

block modalScript
    script(src = "../Scripts/modal.js")
    
block modal
    div#shadow
    modal(name = `deleteCollection-cid-${collection.id}`)#modal
        div#error
        p.text.modal_field_label Are you sure you want to delete #{collection.title}?
        button(type = "button").submit#submit Yes
        button(type = "button").cancel#cancel No
