extends ../pricing.pug

block modalScript
    script(src = "../Scripts/modal.js")
    
block modal
    div#shadow
    modal(name = `editType-ptid-${printType.ptid}`)#modal
        div#error
        p.text.modal_field_label Print Type
        input(name = "name", type = "text", value = `${printType.name}`).modal_field
        br
        p.text.modal_field_label Price Modifier (%)
        input(name = "mult", type = "text", value = `${printType.mult}`).modal_field
        br
        button(type = "button").submit#submit Submit
        button(type = "button").cancel#cancel Cancel
