extends admin.pug

block modalScript
    script(src = "../Scripts/addCollection.js")
 
block modal
    div#shadow
    modal.modal#col_add_modal
        div#error
        p.text.modal_field_label Title
        input(name = "title", type = "text")#col_title
        br
        p.text.modal_field_label Description
        textarea(name = "description")#col_desc
        br
        button(type = "button").submit#submit_col Submit
        button(type = "button").cancel#cancel_col Cancel
