extends admin.pug

block modalScript
    script(src = "../Scripts/addPost.js")
    script(src = "../Scripts/resize.js")
 
block modal
    div#shadow
    modal.modal#post_add_modal
        div#error
        p.text.modal_thumb Thumbnail
        input(name = "file", type = "file")#file
        br
        p.text.modal_field_label Title
        input(name = "title", type = "text")#post_title
        br
        p.text.modal_field_label Description
        textarea(name = "description")#post_desc
        br
        p.text.modal_field_label Size
        input(name = "size", type = "text")#post_size
        br
        button(type = "button").submit#submit_post Submit
        button(type = "button").cancel#cancel_post Cancel
