extends admin.pug

block modalScript
    script(src = "../Scripts/deletePost.js")
    
block modal
    div#shadow
    modal.modal#col_delete_modal
        div#error
        p.text.modal_field_label Are you sure you want to delete #{post.title}?
        button(type = "button").submit#submit_post_delete Yes
        button(type = "button").cancel#cancel_post_delete No
