@use "main"

#login_container
    width: 250px
    padding: 20px
    margin: 15vh auto
    background-color: main.$panel_color
    border-radius: 3px

#email, #password
    width: 98%

.login_label
    margin-bottom: 5px
    margin-top: 10px

#login_button
    width: 100%
    margin-top: 20px
    margin-bottom: 10px

#error
    font-family: main.$button_font

.feat_note, .feat_note:hover, .feat_note:active
    background-color: #13cf20
    border-color: #0fab1a
    cursor: default

.basic_info_button
    height: 50px
    width: 140px
    margin-right: 5px
    margin-bottom: 5px
    text-align: center

#basic_info_buttons
    width: 300px
    margin: 20px auto

table
    border: 0px
    border-collapse: collapse
    width: 95%
    color: white
    text-align: left
    font-family: main.$button_font
    margin: 10px

th, td
    margin: 0px
    padding: 2px
    border-bottom: 1px solid main.$panel_color
    border-top: 1px solid main.$panel_color

.admin-header
    margin: 30px 10px 10px 10px

.add_button
    margin-left: 10px
    margin-right: 10px
    margin-bottom: 10px
    padding: 5px
    width: 95%

#pricing_content
    display: block
    width: 100%
    max-width: 650px
    margin-left: auto
    margin-right: auto
