@use "main"

body
    background-color: main.$background_color
    margin: 0px

img
    width: 100%

.text
    font-family: main.$body_font
    color: main.$text_color

#shadow
    position: fixed
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px
    background-color: black
    opacity: 0.5
    display: none

#content, #admin_content
    margin: 0px

#error
    color: red

::-webkit-scrollbar
    width: 2px

::-webkit-scrollbar-track
    background: #262626

::-webkit-scrollbar-thumb
    background: #424242

::-webkit-scrollbar-thumb:hover
    background: #555
