@use "main"

.collection-title
    text-align: center

.thumbnails
    display: flex
    flex-wrap: wrap
    justify-content: center

.post, .col_container, .add_post, .gallery_post
    display: block
    border-style: solid
    border-color: main.$highlight_color
    padding: 15px

.col_container
    border-width: 0 0 1px 0

.post, .add_post, .gallery_post
    background-color: main.$panel_color
    border-width: 0px
    border-radius: 3px
    margin-right: 5px
    margin-bottom: 5px
    width: 250px

.gallery_post
    cursor: pointer
    transition-property: all
    transition-duration: 0.1s
    transition-delay: 0s
    transition-timing-function: ease-in-out
    display: flex
    flex-direction: column
    justify-content: space-between

.post_container
    display: flex
    flex: 1
    flex-wrap: wrap
    padding: 0px

.col_desc
    color: main.$grey_text_color
    font-size: 12pt
    font-style: italic
    margin-top: 0px
    margin-bottom: 10px
    white-space: pre-wrap

.add_post
    width: 80px
    height: auto
    font-size: 60pt
    font-family: main.$body_font
    color: main.$highlight_color
    text-align: center
    transition-property: color, font-size
    transition-duration: 0.1s
    transition-delay: 0s
    transition-timing-function: ease-in-out

.add_post:hover
    font-size: 65pt
    color: #c9c9c9
    cursor: pointer

.add_post:active
    font-size: 50pt
    color: #c9c9c9
    cursor: pointer
