@use "main"

#feat_title
    font-family: main.$title_font
    color: main.$text_color
    margin: 0px
    font-weight: normal
    letter-spacing: 15px
    font-size: 45pt
    margin-top: 30px
    text-align: center

#feat_desc
    margin-left: 15%
    margin-right: 15%
    margin-bottom: 45px
    text-align: center
    line-height: 24px
    white-space: pre-wrap

.feat_entry
    display: flex
    align-items: center
    margin: 30px 8% 30px 8%

.feat_entry_img
    flex: 1.65

.feat_entry_info
    flex: 1
    height: 40vw
    line-height: 2.25vw
    overflow: auto
    padding: 5px
    vertical-align: middle

.right
    margin-left: 20px
    text-align: left

.left
    margin-right: 20px
    text-align: right

.feat_entry_title
    margin-top: 0px
    font-style: bold
    font-size: 14pt

.feat_entry_desc
    font-size: 11pt
    font-style: italic
