//Colors

$background_color: #1c1c1c
$panel_color: #303030
$highlight_color: #424242
$modal_color: white
$border_color: #e6e6e6
$text_color: white
$grey_text_color: #919191
$modal_text_color: black
$shadow_color: #0f0f0f

//Fonts

@font-face
    font-family: "Lora"
    font-style: normal
    font-weight: 400
    font-display: fallback
    src: url("../Fonts/Lora-Regular.ttf") format("truetype")

@font-face
    font-family: "Lora"
    font-style: normal
    font-weight: 700
    font-display: fallback
    src: url("../Fonts/Lora-Bold.ttf") format("truetype")

@font-face
    font-family: "Roboto"
    font-style: normal
    font-weight: 400
    font-display: fallback
    src: url("../Fonts/Roboto-Regular.ttf") format("truetype")

@font-face
    font-family: "Roboto"
    font-style: normal
    font-weight: 700
    font-display: fallback
    src: url("../Fonts/Roboto-Bold.ttf") format("truetype")

@font-face
    font-family: "Staatliches"
    font-style: normal
    font-weight: 400
    font-display: fallback
    src: url("../Fonts/Staatliches-Regular.ttf") format("truetype")

$title_font: 'Staatliches'
$header_font: 'Lora'
$body_font: 'Lora'
$button_font:  'Roboto'
