@use "main"

@media screen and (max-width: 700px)

    //Header

    header
        flex-direction: column
        align-items: center

    #nav_bar
        width: 99%
        justify-content: space-around

    .nav_item
        margin-left: 0px

    .nav_button
        font-size: 3.9vw
        padding-left: 2px
        padding-right: 2px

    //Home Page

    #title_block
        padding-top: 25px
        padding-bottom: 25px

    #feat_title
        font-size: 30pt

    #feat_desc
        margin-left: 3px
        margin-right: 3px
        font-size: 11pt

    .feat_entry
        flex-direction: column
        margin: 0px 4% 60px 4%

    .feat_entry_info
        margin: 0px

    .feat_entry_info_block
        position: relative

    .right, .left
        text-align: center

    //Gallery

    .col_desc
        font-size: 11pt

    .post_container
        justify-content: center

    #post_disp_modal
        left: 0
        right: 0
        top: 0
        bottom: 0
        transform: none
        padding-left: 2%
        padding-right: 2%
        border-radius: 0px
        width: 96%

    //Info Pages

    #about, #contact, #purchase
        width: 300px
        margin: 50px auto

@media screen and (max-height: 700px)
    #post_disp_modal
        left: 0
        right: 0
        top: 0
        bottom: 0
        transform: none
        padding-left: 2%
        padding-right: 2%
        border-radius: 0px
        width: 96%

@media screen and (max-width: 500px)

    .gallery_post
        max-width: 300px
