@use "main"

.modal, #modal
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    z-index: 2000
    overflow: auto
    background-color: main.$modal_color
    border-style: solid
    border-color: main.$highlight_color
    border-width: 1px
    border-radius: 3px
    width: 400px
    max-height: 92%
    padding: 10px

#modal_buttons
    margin-top: 10px

.modal_button
    background-color: main.$modal_color
    color: main.$modal_text_color
    border-color: #cfcfcf
    border-width: 1px
    padding: 5px

.modal_button:hover
    background-color: #cfcfcf

.modal_title
    color: main.$modal_text_color
    margin-bottom: 3px
    margin-top: 0px

.modal_desc, .modal_size, .modal_field_label, .modal_thumb, .confirm_modal_text
    color: main.$modal_text_color
    margin-top: 8px
    margin-bottom: 3px

textarea
    height: 100px

.modal_desc
    font-size: 11pt

.modal_field_label, .modal_thumb, .confirm_modal_text
    font-family: main.$body_font
    font-size: 11pt
    font-weight: bold

.modal_text
    color: black
    font-family: main.$body_font
    font-size: 11pt

.short_input
    margin-top: 10px
    width: 30px

.submit, .cancel
    width: 140px
    margin-top: 20px
    margin-left: 40px

#add_to_cart
    width: 160px
    margin-left: 10px

input, textarea, select
    font-family: main.$button_font
    width: 99%
    border-style: solid
    border-width: 1px
    border-radius: 3px
    padding: 2px
    border-color: main.$border_color

.modal_text
    font-family: main.$button_font
    color: black
