body {
    background-color: black;
}

#bio {
    display: block;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
}

#content {
    display: flex;
}

header {
    font-size: 16pt;

    text-align: center;
}

.collection-title {
    text-align: center;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    width: 100%;
}

.post, .col_container, .add_post {
    display:block;

    border-style: solid;
    border-color: #141414;

    padding: 15px;
}

.col_container {
    border-width: 0 0 1px 0;
}

.post, .add_post {
    background-color: #141414;

    border-width: 0px;
    border-radius: 3px;

    margin-right: 5px;
    margin-bottom: 5px;

    width: 250px;
}

.post_container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.text {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.col_desc {
    color: #919191;
}

h2 {
    font-size: 18pt;
    font-style: bold;

    margin: 0px;
}

h3{
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 0px;
}

.col_desc {
    font-size: 12pt;
    font-style: italic;

    margin-top: 0px;
    margin-bottom: 10px;

    white-space: pre-wrap;
}

.add_post {
    width: 80px;
    height: auto;

    font-size: 60pt;
    font-family: 'Josefin Sans', sans-serif;
    color: #e8e8e8;
    text-align: center;

    transition-property: color, font-size;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.add_post:hover {
    font-size: 65pt;
    color: #c9c9c9;
    cursor: pointer;
}

.add_post:active {
    font-size: 50pt;
    color: #c9c9c9;
    cursor: pointer;
}

.post_modal, .confirm_modal, .col_modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    background-color: white;
    border-style: solid;
    border-color: #e8e8e8;
    border-width: 1px;
    border-radius: 3px;

    width: 400px;
    padding: 10px;
}

#shadow {
    background: black;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
}

#post_desc, #col_desc {
    width: 390px;
    height: 100px;
}

.modal_title, .modal_desc, .modal_size, .modal_thumb, .confirm_modal_text {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 11pt;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 3px;
}

.submit, .cancel, .edit_button, .delete_button, #add_col {

    background-color: #141414;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    letter-spacing: 0.8pt;
    text-align: center;
    border-width: 2px;
    border-radius: 9px;
    border-style: solid;
    border-color: #262626;
    cursor: pointer;

    margin-top: 20px;
    margin-right: 8px;
    width: 90px;
    padding: 6px 0px;

    transition-property: all;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.cancel:hover, .delete_button:hover, .submit:hover, .edit_button:hover, #add_col:hover {
    background-color: #262626;
}

#col_header {

    display: flex;
}

.edit_col_button, .delete_col_button {

    margin: 10px;
}

.col_buttons {

    display: inline-block;
    margin-left: auto;
}

.feat_note {

    background-color: #2ed95b;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    letter-spacing: 0.8pt;
    text-align: center;
    border-width: 2px;
    border-radius: 9px;
    border-style: solid;
    border-color: #29c251;
    margin: 10px;
    width: 90px;
    padding: 6px 0px;
}

#error {
    color: red;
}
