/*Style sheet for both public and admin pages*/

img {
    width: 100%;
}

body {
    background-color: black;
    margin: 0px;
}

.title {
    font-family: 'Staatliches', cursive;
    font-weight: 100;
    color: white;
    margin: 0px;
    letter-spacing: 6px;
    font-size: 22pt;
}

header {
    width: 98%;
    background-color: #262626;
    font-size: 16pt;
    padding: 10px;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: space-between;
    border: 0px;
    margin: 0px;
}

#nav_bar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 372px;
}

.nav_item {
    display: inline;
}

.nav_button {
    height: 37px;
}

#content, #admin_content {
    margin-left: 10px;
    margin-right: 10px;
}

.collection-title {
    text-align: center;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    width: 100%;
}

#about_thumb {
    width: 300px;
}

.post, .col_container, .add_post, .gallery_post {
    display:block;

    border-style: solid;
    border-color: #141414;

    padding: 15px;
}

.col_container {
    border-width: 0 0 1px 0;
}

.post, .add_post, .gallery_post {
    background-color: #262626;

    border-width: 0px;
    border-radius: 3px;

    margin-right: 5px;
    margin-bottom: 5px;

    width: 250px;
}

.gallery_post {

    cursor: pointer;

    transition-property: all;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.post_container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.text {
    font-family: 'Lora', serif;
    color: white;
}

.col_desc {
    color: #919191;
}

h2 {
    font-size: 18pt;
    font-style: bold;

    margin: 0px;
}

h3{
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 0px;
}

.col_desc {
    font-size: 12pt;
    font-style: italic;

    margin-top: 0px;
    margin-bottom: 10px;

    white-space: pre-wrap;
}

.add_post {
    width: 80px;
    height: auto;

    font-size: 60pt;
    font-family: 'Lora', serif;
    color: #e8e8e8;
    text-align: center;

    transition-property: color, font-size;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.add_post:hover {
    font-size: 65pt;
    color: #c9c9c9;
    cursor: pointer;
}

.add_post:active {
    font-size: 50pt;
    color: #c9c9c9;
    cursor: pointer;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    background-color: white;
    border-style: solid;
    border-color: #e8e8e8;
    border-width: 1px;
    border-radius: 3px;

    width: 400px;
    padding: 10px;
}

#post_disp_modal {
    width: 500px;
}

#shadow {
    background: black;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
}

#post_desc, #col_desc, #bio, #contact, #purchase {
    width: 390px;
    height: 100px;
    padding: 5px;
}

.modal_title, .modal_desc, .modal_size, .modal_field_label, .modal_thumb, .confirm_modal_text {

    color: black;
    margin-top: 8px;
    margin-bottom: 3px;
}

.modal_desc {

    font-size: 11pt;
}

.modal_field_label, .modal_thumb, .confirm_modal_text {
    font-family: 'Lora', serif;
    font-size: 11pt;
    font-weight: bold;
}

button {

    background-color: #262626;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    letter-spacing: 0.8pt;
    text-align: center;
    border-width: 2px;
    border-radius: 9px;
    border-style: solid;
    border-color: #424242;
    cursor: pointer;

    transition-property: all;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

button:hover, .selected, .gallery_post:hover {

    background-color: #424242;
}

.submit, .cancel, .edit_button, .delete_button, #add_col {
    margin-top: 20px;
    margin-right: 8px;
    width: 90px;
    padding: 6px 0px;
}

#col_header {

    display: flex;
}

.edit_col_button, .delete_col_button {

    margin: 10px;
}

.col_buttons {

    display: inline-block;
    margin-left: auto;
}

.feat_note {

    background-color: #2ed95b;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    letter-spacing: 0.8pt;
    text-align: center;
    border-width: 2px;
    border-radius: 9px;
    border-style: solid;
    border-color: #29c251;
    margin: 10px;
    width: 90px;
    padding: 6px 0px;
}

#error {
    color: red;
}

#feat_title {

    font-family: 'Staatliches', cursive;
    color: white;
    margin: 0px;
    font-weight: normal;
    letter-spacing: 15px;
    font-size: 45pt;
    margin-top: 30px;
    text-align: center;
}

#feat_desc {

    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 45px;
    text-align: center;
    line-height: 24px;
    white-space: pre-wrap;
}

.feat_entry {

    display: flex;
    align-items: center;
    margin: 30px 8% 30px 8%;
}

.feat_entry_img {

    flex: 1.65;
}

.feat_entry_info {

    flex: 1;
    height: 40vw;
    line-height: 2.25vw;
    overflow: auto;
    padding: 5px;
    vertical-align: middle;
}

.right {

    margin-left: 20px;
    text-align: left;
}

.left {

    margin-right: 20px;
    text-align: right;
}

.feat_entry_title {

    margin-top: 0px;
    font-style: bold;
    font-size: 14pt;
}

.feat_entry_desc {

    font-size: 11pt;
    font-style: italic;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: #424242;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#close {
    text-align: center;
    float: right;
    margin-bottom: 5px;
    background-color: white;
    border: 0px;
    color: #cfcfcf;
    font-size: 16pt;
}

#close:hover {

    color: red;
}

.block {

    white-space: pre-wrap;
}

#about, #contact, #purchase {

    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
}
